$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.no-mobile {
  display: none;
}

.yes-big-screen {
  display: none !important;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 20px;
  padding-right: 20px;
}

.text-name {
  color: #ffffff;
}

/* Custom page header */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4d004d;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 20px;
  padding-top: 20px;
  color: #777;
}

.dropdown {
  .header-dropdown {
    background-color: #4D004D;
    height: 40px;
    .menu-button {
      height: 20px;
    }
  }
  .dropdown-menu {
    .header-button {
      background-color: #ffffff;
      color: #4D004D;
      line-height: 2.428571;
      &:hover {
        color: #4D004D;
        background-color: #eeeeee;
        cursor: pointer;
      }
    }
    .active {
      .header-button {
        background-color: #4D004D !important;
        color: #ffffff !important;
      }
    }
  }
}

.nav {
  .header-button {
    color: #ffffff;
    &:hover {
      color: #4D004D;
      cursor: pointer;
    }
  }
  .active {
    .header-button {
      background-color: #ffffff !important;
      color: #4D004D !important;
    }
}
}
.link {
  cursor: pointer;
}
.module-margin-bottom {
  margin-bottom: 40px;
}

.helper {
  height: 100%;
  vertical-align: middle;
}

.content {
  background-image: url('../images/western-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;

  .module-big,
  .module-left,
  .module-right,
  .about-me,
  .contact {
    background: rgba(255,255,255,0.85);
    border-radius: 10px;
  }

  .about-me,
  .experience,
  .interests,
  .contact {
    margin: 0 auto;
  }

  .about-me {
    width: 300px;
    display: table;
    p {
      margin-bottom: 0px;
    }
    .profile {
      width: 110px;
      vertical-align: middle;
      margin: 10px 0 10px 10px;
      border-radius: 10px;
    }
    .info-text {
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
      width: 100%;
      p{
        font-size: 14px;
      }
    }
  }
  .experience,
  .interests {
    width: 300px;
    .module-left {
      display: table;
      .smash-picture {
        vertical-align: middle;
        margin: 10px 0 10px 10px;
        border-radius: 10px;
        width: 140px;
      }
    }
    .module-right {
      display: table;
      .soccer-picture {
        vertical-align: middle;
        margin: 10px 10px 10px 0;
        border-radius: 10px;
        width: 140px;
      }
    }
    .info-text {
      display: table-cell;
      vertical-align: middle;
      width: 150px;
    }
    .otpp-picture,
    .running-picture {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: auto;
    }
    .info-text {
      width: 100%;
      p{
        font-size: 14px;
        padding: 10px;
        margin-bottom: 0;
      }
    }
  }
  .contact {
    width: 300px;
    .info-text {
      padding: 10px 20px 10px 20px;
      h2 {
        font-size: 24px;
        margin-top: 10px;
      }
      p {
        font-size: 16px;
      }
    }
  } 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 580px) {

  .no-mobile {
    display: inline;
  }

  .mobile {
    display: none;
  }

  .content {
    padding-top: 80px;
    padding-bottom: 80px;

    .module-big,
    .module-left,
    .module-right,
    .about-me,
    .contact {
      background: rgba(255,255,255,0.8);
      border-radius: 15px;
    }

    .about-me {
      width: 500px;
      .profile {
        float: left;
        width: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
      }
      .info-text {
        p{
          font-size: 20px;
        }
      }
    }
    .experience,
    .interests {
      width: 500px;
      .module-left {
        .smash-picture {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          margin: 0;
          width: 250px;
        }
      }
      .module-right {
        .soccer-picture {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin: 0;
          width: 250px;
        }
      }
      .info-text {
        width: 250px;
      }
      .otpp-picture,
      .running-picture {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
      }
      .info-text {
        width: 100%;
        p{
          font-size: 20px;
        }
      }
    }
    .contact {
      width: 320px;
      .info-text {
        h2 {
          font-size: 27px
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .module-margin-bottom {
    margin-bottom: 50px;
  }

  .content {
    padding-top: 100px;
    padding-bottom: 100px;

    .about-me {
      width: 600px;
      .profile {
        width: 240px;
      }
      .info-text {
        p{
          font-size: 24px;
        }
      }
    }

    .experience,
    .interests {
      width: 600px;
      .module-left {
        .smash-picture {
          width: 300px;
        }
      }
      .module-right {
        .soccer-picture {
          width: 300px;
        }
      }
      .info-text {
        width: 300px;
      }
      .info-text {
        width: 100%;
        p{
          font-size: 24px;
        }
      }
    }
    .contact {
      width: 340px;
      .info-text {
        h2 {
          font-size: 30px
        }
        p {
          font-size: 24px;
        }
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1050px) {

  .no-big-screen {
    display: none !important;
  }

  .yes-big-screen {
    display: table-cell !important;
  }

  .no-margin-bottom {
    margin-bottom: 0 !important;
  }
  
  .content {
    .module-big {
      display: table;
    }

    .experience,
    .interests {
      width: 900px;
      .otpp-picture,
      .running-picture {
        width: 600px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
      }

      .small-module-container {
        display: table;
        width: 900px;
        .module-left {
          display: block;
          float: left;
          width: 425px;
          .helper {
            display: none;
          }
          .smash-picture {
            width: 425px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 0px;
          }
        }
        .module-right {
          display: block;
          float: right;
          width: 425px;
          .helper {
            display: none;
          }
          .soccer-picture {
            width: 425px;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 0px;
          }
          .temporary-div-filler {
            height: 186.667px;
          }
        }
      }
      .info-text {
        width: 300px;
      }
      .info-text {
        width: 100%;
        p{
          font-size: 24px;
        }
      }
    }
  }
}
