<!doctype html>
<html lang="" ng-app="content">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hunter Andrin</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body ng-controller="PanelController as panel">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header">
      <ul class="nav nav-pills pull-right no-mobile">
        <li ng-class="{active:panel.isSelected(1)}"><a class="header-button" ng-click="panel.selectTab(1)">About Me</a></li>
        <li ng-class="{active:panel.isSelected(2)}"><a class="header-button" ng-click="panel.selectTab(2)">Experience</a></li>
        <li ng-class="{active:panel.isSelected(3)}"><a class="header-button" ng-click="panel.selectTab(3)">Interests</a></li>
        <li ng-class="{active:panel.isSelected(4)}"><a class="header-button" ng-click="panel.selectTab(4)">Contact</a></li>
      </ul>
      <ul class="dropdown pull-right mobile">
        <button type="button" class="btn dropdown-toggle header-dropdown" data-toggle="dropdown">
          <img class="menu-button" src="../images/menu-icon.png">
        </button>
        <ul class="dropdown-menu">
          <li ng-class="{active:panel.isSelected(1)}"><a class="header-button" ng-click="panel.selectTab(1)">About Me</a></li>
          <li ng-class="{active:panel.isSelected(2)}"><a class="header-button" ng-click="panel.selectTab(2)">Experience</a></li>
          <li ng-class="{active:panel.isSelected(3)}"><a class="header-button" ng-click="panel.selectTab(3)">Interests</a></li>
          <li ng-class="{active:panel.isSelected(4)}"><a class="header-button" ng-click="panel.selectTab(4)">Contact</a></li> 
        </ul>
      </ul>
      <h3 class="text-name">Hunter Andrin</h3>
    </div>

    <div class="content">
      <div class="about-me" ng-show="panel.isSelected(1)">
        <span class="helper"></span>
        <img class="profile" src="../images/profile.jpg">
        <div class="info-text">
          <p>Hello! I'm a recent software engineering graduate from Western University who is currently seeking employment. I am particularly interested in front-end development. Select the <a class="link" ng-click="panel.selectTab(2)">experience</a> tab to view my skills and qualifications.</p>
        </div>
      </div>

      <div class="experience" ng-show="panel.isSelected(2)" ng-cloak>
        <div class="module-big module-margin-bottom">
        <img class="otpp-picture" src="../images/otpp.jpg">
          <div class="info-text">
            <p>I completed a 16 month internship at the Ontario Teacher's Pension Plan in Toronto. There I worked individually as well as part of a team to program various software applications including their new external client facing <a class="link" href="https://www.otpp.com/members/my/">website</a>.</p>
          </div>
        </div>
        <div class="small-module-container">
          <div class="module-left module-margin-bottom">
            <span class="helper"></span>
            <img class="smash-picture" src="../images/brain.png">
            <div class="info-text">
              <p>I created an AR app that overlays virtual ventricles on top of a patient’s head to help guide a neurosurgeon’s placement of a catheter into the patient's brain.</p>
            </div>
          </div>
          <div class="module-right module-margin-bottom">
            <div class="info-text no-big-screen">
              <p>I was a member of the dean's honour list and a CIS academic all-canadian during my 2nd, 3rd, and 4th years of studies.</p>
            </div>
            <span class="helper"></span>
            <img class="soccer-picture" src="../images/all-canadian.png">
            <div class="info-text yes-big-screen temporary-div-filler">
              <p>I was a member of the dean's honour list and a CIS academic all-canadian during my 2nd, 3rd, and 4th years of studies.</p>
            </div>
          </div>
        </div>
        <div class="module-big">
          <div class="info-text">
            <p>For a more detailed explaination of my skills and experiences please see my <a class="link" href="https://ca.linkedin.com/in/hunter-andrin-295888114">LinkedIn Account</a> and <a class="link" href="../images/resume.pdf">Resume</a>.</p>
          </div>
        </div>
      </div>

      <div class="interests" ng-show="panel.isSelected(3)" ng-cloak>
        <div class="module-big module-margin-bottom">
          <img class="running-picture" src="../images/running.png">
          <div class="info-text">
            <p>I am a competitive runner. I have competed on Western's varsity track and cross country teams for all my years at Western. I am currently ranked 11th on Western's all-time performance list for the 1000m.</p>
          </div>
        </div>
        <div class="small-module-container">
          <div class="module-left module-margin-bottom no-margin-bottom">
            <img class="smash-picture" src="../images/smash.png">
            <div class="info-text">
              <p>I enjoy playing video games, like this game. Super Smash Bros is my favourite game eva!</p>
            </div>
          </div>
          <div class="module-right">
            <div class="info-text no-big-screen">
              <p>Other than running I enjoy playing other sports as well such as soccer, hockey, and ultimate frisbee.</p>
            </div>
            <img class="soccer-picture" src="../images/soccer.jpg">
            <div class="info-text yes-big-screen">
              <p>Other than running I enjoy playing other sports as well such as soccer, hockey, and ultimate frisbee.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="contact" ng-show="panel.isSelected(4)" ng-cloak>
        <div class="info-text">
          <h2>Additional Information:</h2>
          <p>Email: handrin@uwo.ca</p>
          <p>Phone: 226-236-7427</p>
          <p><a class="link" href="https://ca.linkedin.com/in/hunter-andrin-295888114">LinkedIn Account</a></p>
          <p><a class="link" href="../images/resume.pdf">Resume</a></p>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>Email: handrin@uwo.ca</p>
      <p>Phone: 226-236-7427</p>
    </div>

    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/app.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
